.node {
  cursor: pointer;
}
.node circle{
  stroke: steelblue;
  fill: #fff;
}
.node text {
  font-family: 'Open Sans';
  font-weight: 300;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5;
}
